.main {
  width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
  color: #333;
  background: #fff;
}

.index {
  padding-top: 32px;
}

.form {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ccc;
}

.headings {
  margin-top: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 16px;
}

.text {
  font-size: 14px;
  margin-top: 8px;
}

.textarea {
  margin-top: 16px;
}
